body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #e0f7fa;
}

canvas {
  border: 2px solid #00796b;
  background-color: #a7d7c5;
  margin-top: 20px;
}

#tools {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

#info {
  margin-top: 20px;
  font-size: 18px;
}
